@import "src/index.scss";

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-width;
  height: $cell-height;
}

.cell img {
  width: $icon-width;
  height: $icon-height;
  position: absolute;
}

.black {
  background-color: $dark-color;
}

.white {
  background-color: $light-color;
}

.selected {
  background-color: $selected-cell-color;
}

.available {
  width: $cell-width;
  height: $cell-height;
  background-color: $available-cell-color;
  opacity: .5;
}

.availableForAttack {
  width: $cell-width;
  height: $cell-height;
  position: absolute;
  background-color: $available-for-attack-cell-color;
  opacity: .5;
}