@import "src/index.scss";

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-width;
  height: $cell-height;
}

.cell img {
  width: $icon-width;
  height: $icon-height;
}

.black {
  background-color: $dark-color;
}

.white {
  background-color: $light-color;
}