@import "src/index.scss";

.main {
  display: flex;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc($cell-width * 8);
  height: calc($cell-height * 8);
}

.letters {
  display: flex;
  width: calc($cell-width * 8);
}

.letters ul {
  display: flex;
  justify-content: center;
  height: 20px;
  width: $cell-width;
  margin-top: 5px;
  font-weight: 800;
  color: $light-color;
}

.numbers {
  display: flex;
  flex-direction: column;
  height: calc($cell-height * 8);
}

.numbers ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $cell-height;
  width: 20px;
  margin-left: 5px;
  font-weight: 800;
  color: $light-color;
}