@import "src/index.scss";

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc($cell-width * 8);
  height: calc($cell-height * 8);
}

.infoBoard {
  color: $light-color;
  margin-right: 50px;
}

.infoBoard h2{
  font-size: $header-font-size;
}