@import "src/index.scss";

.timer {}

.timerButtons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.timerBtn {
  font-size: 15px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}

.timerBtn:hover {
  background-color: $selected-cell-color;
  color: $light-color;
  transition: 100ms;
}

.titles {
  margin-bottom: 20px;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}
