@import "src/index.scss";

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-color;
  //background-image: url("./assets/background-pattern.svg");
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  height: calc($cell-height * 8);
  margin: 0 4%;
}

.info h2 {
  font-size: $header-font-size;
}

.infoBoardTitle {
  margin-bottom: 25px;
}

.lostFiguresInfoBoard {
  height: calc($cell-height * 8);
  width: 200px;
  margin: 0 4%;
}

.timer {
}
