@import "src/index.scss";

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("./assets/background-pattern.svg");
}

.info {
  z-index: 2;
  height: calc($cell-height * 8);
  margin-left: 25px;
}

.info h2 {
  font-size: $header-font-size;
}

.infoBoardTitle {
  padding: 20px;
  margin-bottom: 25px;
  @include glassmorphism;
}

.lostFiguresInfoBoard {
  height: calc($cell-height * 8);
  margin-right: 25px;
  padding: 20px;
  @include glassmorphism;
}

.timer {
  padding: 20px;
  @include glassmorphism;
}
