/*variables*/
$main-color: #3C618F;
$light-color: #FEFFFF;
$dark-color: #434247;
$selected-cell-color: #1E698D;
$available-cell-color: #1E698D;
$available-for-attack-cell-color: #911F1E;
$cell-width: 70px;
$cell-height: 70px;
$icon-width: 55px;
$icon-height: 55px;
$header-font-size: 20px;

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
}

html, body {
    background-color: $main-color;
}

li {
    list-style: none;
}

#root {}

@mixin glassmorphism {
    backdrop-filter: blur(2px);
    background-color: rgba(236, 240, 241, .3);
    border-radius: 5px;
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.4);
}