/*variables*/
$main-color: #3C618F;
$light-color: #FEFFFF;
$dark-color: #434247;
$selected-cell-color: #0279BF;
$available-cell-color: #0265A5;
$available-for-attack-cell-color: #911F1E;
$cell-width: 70px;
$cell-height: 70px;
$icon-width: 55px;
$icon-height: 55px;
$header-font-size: 20px;

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
}

html, body {
    background-color: $main-color;
}

li {
    list-style: none;
}

#root {}