/*variables*/
$main-color: #3498DB;
$light-color: #ECF0F1;
$dark-color: #222222;
$selected-cell-color: #1E698D;
$available-cell-color: #1E698D;
$available-for-attack-cell-color: #911F1E;
$cell-width: 80px;
$cell-height: 80px;
$icon-width: 65px;
$icon-height: 65px;

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $main-color;
}

#root {}